// Generated using xcconfig-extractor 0.6.0 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
PRODUCT_BUNDLE_IDENTIFIER = tihimsm.ManageWorkingTimeUITests
INFOPLIST_FILE = ManageWorkingTimeUITests/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks @loader_path/Frameworks
TEST_TARGET_NAME = ManageWorkingTime
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = YES

